h1 {
    color: red;
    text-align: center;
}

.card-container {
    margin: 2%;
    padding: 2%;
    border: 3%;
    border-color: blue;
    border-style: groove;
    text-align: center
}

.game-item {
    text-align: center;
}