<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} PAGINA PRINCIPAL {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/videojuegos.css') }}">
</head>

<body>

{% block nav %}
<nav>
    <li class="nav-items">TODOS LOS JUEGOS</li>
    <li class="nav-items">AGREGAR JUEGO</li>
    <li class="nav-items">ACTUALIZAR JUEGO</li>
    <li class="nav-items">ELIMINAR JUEGO</li>
</nav>
{% endblock %}
<header> 
    {% block header %} <h1> VIDEOJUEGOS</h1> {% endblock %}
</header>    

<main>
    {% block contain %}
        <form method="POST">
            <div class="div-login-container">
                <label class="label-login"> usuario:</label> <br>
                <input type="text" class="input-login"> <br>
                <label class="label-login"> Contraseña:</label>
                <input type="password" class="input-login"> 
                <button>Ingresar</button>
            </div>
        </form>

    {% endblock %}
</main>

<footer class="footer-style">
    {% block footer%} 2024 - Todos los derechos reservados {% endblock %}
</footer>

</body>