<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} PAGINA {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/videojuegos.css') }}">
</head>

<body>

<header> 
    {% block header %} <h1> VIDEOJUEGOS</h1> {% endblock %}
</header>    

<main>
    {% block contain %}
        <form method="POST" class="form-user">
            <div>
                <label> usuario:</label>
                <input type="text"> 
                <label> Contraseña:</label>
                <input type="password"> 
                <button>Ingresar</button>
            </div>
        </form>

    {% endblock %}
</main>

<footer>
    {% block footer%} 2024 - Todos los derechos reservados {% endblock %}
</footer>

</body>