{% extends "base.html" %}

{% block title %} 
VIDEOJUEGOS 
{% endblock %}

{% block contain %}

<div>

    {% if videojuego %}
    <ul>ID del titulo: {{videojuego['id'] }}</ul>
    <ul>Título: {{ videojuego['titulo'] }}</ul>
    <ul>Desarrollador ID: {{ videojuego['desarrollador_id'] }}</ul>
    <ul>Fecha de lanzamiento: {{ videojuego['fecha_lanzamiento'] }}</ul>
    <ul>Género ID: {{ videojuego['genero_id'] }}</ul>

    {% else %}
    {% for videojuego in videojuegos %}
    <h2>JUEGO {{ loop.index }}</h2>
        <ul>ID del titulo: {{videojuego['id'] }}</ul>
        <ul>Título: {{ videojuego['titulo'] }}</ul>
        <ul>Desarrollador ID: {{ videojuego['desarrollador_id'] }}</ul>
        <ul>Fecha de lanzamiento: {{ videojuego['fecha_lanzamiento'] }}</ul>
        <ul>Género ID: {{ videojuego['genero_id'] }}</ul>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}